/* .display-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: black;
} */
 
/* .entered-val{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 10px;
    width:100%;
    font-size: 25px;
    background-color: black;
    border-style: none;
    color: gray;
    margin: 10px 0px;
} */

.display-result-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 24px;
    color: #ffffff;
    background-color: #182034;
}